#slide>.slide>.carousel-indicators {
    left: 100%;
    bottom: 0;
    width: 50px;
    margin-left: -60px;
}

#slide>.slide .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    padding-left: 20px;
}

/*#cartoonList>.nav-tabs {}*/

#cartoonList>.nav-tabs>li {
    width: 25%;
}

#cartoonList>.nav-tabs>li.active {
    border-bottom: 2px solid #e92322;
}

#cartoonList>.nav-tabs>li>a {
    text-align: center;
    border: 0;
    background: #fff;
    margin-right: 0;
    border-radius: 0;
}

@media screen and (max-width: 320px) {
    #cartoonList>.nav-tabs>li>a {
        font-size: 12px;
    }
}


/*#cartoonList>.nav-tabs>li.active>a {}*/

#cartoonList>.tab-content>.tab-pane>ul>li {
    width: 50%;
    float: left;
    list-style: none;
    padding: 5px;
}

#cartoonList>.tab-content>.tab-pane>ul>li>a {
    display: block;
    position: relative;
}

#cartoonList>.tab-content>.tab-pane>ul>li>a>img {
    width: 100%;
}

#cartoonList>.tab-content>.tab-pane>ul>li>a>span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: #fff;
    font-size: 16px;
}