@font-face {
  font-family: 'hldm';
  src:  url('../fonts/hldm.eot');
  src:  url('../fonts/hldm.eot') format('embedded-opentype'),
        url('../fonts/hldm.ttf') format('truetype'),
        url('../fonts/hldm.woff') format('woff'),
        url('../fonts/hldm.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hldm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-go:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}

